#ui-datepicker-div{
  padding: 15px;
}
.ui-widget.ui-widget-content{
  border:none;
  background: #f7f7f7;
}
.ui-datepicker-month{
  text-transform:uppercase;
}
.ui-state-default{
  border: none !important;
}
.ui-datepicker, .ui-datepicker {
  td,th{
    border: 1px solid #efeff0;
  }
}
a.ui-state-default.ui-state-highlight{
  border: 1px solid #ff317b;
  background: #ff317b;
  color: #ffffff;
}
.ui-widget-header {
   background: #85d6f6;
   color: #ffffff;
  .ui-icon {
      background-image: none;
  }
  .ui-state-hover{
    border: 1px solid #85d6f6;
    background: #85d6f6;
    color: white;
  }
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: none;
}
